<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

    <h1>This is secret page</h1>
 
    <img src=
    "https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210420155809/gfg-new-logo.png">
     
    <h1>This is home page</h1>


    <h1>product</h1>
       <ul>
      <% cart.forEach(item => { %>
        <li>
          <strong><%= item.name %></strong> - <%= item.price %>
          <form action="/cart_customer/<%= item.id %>" method="get" style="display:inline;">
            <input type="hidden" name="_method">
            <button type="submit">Them vao gio hang</button>
          </form>
        </li>
      <% }); %>



     
    <li><a href="/register">Sign up!!</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/logout">Logout</a></li>

    <li><a href="/cart">cart</a></li>

    <form action="/cart_customer_deletall" method="get" style="display:inline;">
      <input type="hidden" name="_method">
      <button type="submit">Xoa gio hang</button>
    </form>


    <h1>cart</h1>
       <ul>
      <% Product.forEach(item => { %>
        <li>
          <strong><%= item.Product_name %></strong> - <%= item.Product_price %> - <%= item.Product_quantity %>
          <form action="/cart_customer_delet/<%= item.Product_name %>" method="get" style="display:inline;">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Xóa</button>
          </form>
        </li>
      <% }); %>

    
    


</body>
</html>
